.output {
    font-size: 104px;
    font-weight: 800;
    font-style: italic;

    > output {
        color: hsl(259, 100%, 65%);
    }

    > label {
        text-transform: lowercase;
    }
}

@media (max-width: 868px) {
    .output {
        font-size: 52px;
    }
}